****Python has two different types of loop commands:****
<ol>
    <li>for loops</li>
    <li>while loops</li>
</ol>

#### For Loops
<li>In Python, the for loop is used to run a block of code for a certain number of times.</li>
<li>A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).</li>
<li>We call this technique a <b>loop</b> because we are <b>looping</b> over each element in the list and performing an action on each element.</li> 
<li>Because we always start with <b>for</b>, we call this technique a <b>for loop.</b></li>

![](for_loop_script.png)

#### Why For Loops 
<li>We can also retrieve each element in lists, and perform operation but this method will not scale well to a large dataset</li>
<li>Let's say at first we have to repeat this process for five times. We can rely on this method since repeating the code for five times is not that difficult.</li>
<li>But if we have to repeat the same process for 1000+ times then relying on this method is a waste of time and the programmer has to write the same syntax with very few differences 1000+ times.</li>
<li>So, in such scenario, <b>for loops</b> can save programmer's time as well as energy. Also it is the smartest way of dealing with problems.</li>

In [1]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Question 

**From the <b>student_datasets</b>, calculate the average percentage scored by these students.**

In [2]:
total = 0
length = 0
for student in student_datasets:
    score = student[-1]
    total += score
    length+=1
avg_score = total/length
print(avg_score)

77.44

**From the <b>student_datasets</b>, calculate the average percentage scored by these students.**

In [3]:
total = 0
length = 0
for student in student_datasets:
    age = student[2]
    total += age
    length+=1
avg_age = total/length
print(avg_age)

21.6

#### Break Statements In For Loop
<li>With the break statement we can stop the for loop even if the condition is true.</li>

**From the <b>student_datasets</b>, calculate the average percentage scored by last five students.**

In [4]:
total = 0
length = len(student_datasets)
for student in student_datasets:
    score = student[-1]
    total += score
    length -= 1
    if length == 10:
        break

In [5]:
print(total)

385.2

In [6]:
print(length)

10

#### For Loops WIth List

<li>We can iterate over the items in a list using <b>for loops.</b></li>

In [7]:
a = [1,2,3,4,5]

In [8]:
for items in a:
    print(items)

1
2
3
4
5

In [9]:
for items in a:
    print(items+ 1)

2
3
4
5
6

#### Take the given list and create a new list which represent the square value of the items in a list

In [10]:
num = [1,2,3,5,7,9]

In [11]:
square = []
for i in num:
    square.append(i**2)
print(square)

[1, 4, 9, 25, 49, 81]

#### Range

In [12]:
for i in range(0,5,2):
    if i ==2:
        print(i)

2

#### Use range to populate the square of even numbers upto 20 in a new list.

In [13]:
list_a=[]
for i in range(0,20):
    if i%2==0:
        list_a.append(i**2)
print(list_a)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [14]:
list_a=[]
for i in range(0,20,2):
    list_a.append(i**2)
print(list_a)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### Python List Comprehension Techniques

In [15]:
a = [1,2,3,4,5]
a = [item**2 for item in a]

In [16]:
b = [12,14,13,15,21,16,18,20]
c = [value+1 for value in b if value%2==1]
d = [value for value in b if value%2==0]

In [17]:
print(c)
print(d)

[14, 16, 22]
[12, 14, 16, 18, 20]

#### For Loops With Dictionary

<li>We can iterate over dictionary items using for loop in dict.items()</li>
<li>The dictionary keys can be iterated using dict.keys()</li>
<li>Similarly, the dictionary values can also be iterated using dict.values().</li>

In [18]:
dict1 = {"name": "prabhat", "age": 23, "location": "manigram", "level": "bachelor",
        "faculty": "B.Sc.Cs.It", "weight": 70, "height": "5ft 5inch"}

In [19]:
for key, val in dict1.items():
    print(val)

prabhat
23
manigram
bachelor
B.Sc.Cs.It
70
5ft 5inch

In [20]:
list(dict1.keys())

['name', 'age', 'location', 'level', 'faculty', 'weight', 'height']

In [21]:
list(dict1.values())

['prabhat', 23, 'manigram', 'bachelor', 'B.Sc.Cs.It', 70, '5ft 5inch']

In [23]:
type(dict1.keys())

dict_keys

#### For Loops WIth Set

In [24]:
a = {1,2,3,4,5}

In [25]:
for item in a:
    print(item)

1
2
3
4
5

In [26]:
for i in range(4,6):
    a.add(i)

In [27]:
a

{1, 2, 3, 4, 5}

####  For Loops With A Tuple

In [28]:
tuple1 = (1, 2, 3, 4, 5)

In [29]:
for item in tuple1:
    print(item)

1
2
3
4
5

In [30]:
list_to_tuple1 = list(tuple1)
list_to_tuple1[-1] = 6
final_tuple = tuple(list_to_tuple1)
print(final_tuple)

(1, 2, 3, 4, 6)

In [31]:
tuple1 = (4, 5, 6,7,8)

In [34]:
for i in range(1, 4):
    tuple1 = tuple1 + (i,)

In [35]:
tuple1

(4, 5, 6, 7, 8, 1, 2, 3)

#### While Loop
<li>With the while loop we can execute a set of statements as long as a condition is true.</li>
<li>The while loop statement stops running once the condition is false.</li>
<li>With the <b>break</b> statement we can stop the loop even if the while condition is true.</li>

#### While loop Syntax

<code>
while (condition):
    //statement
</code>

In [1]:
a = 0
while a < 5:
    a += 1
    print(a)

1
2
3
4
5

In [2]:
a = 10
while a > 5:
    a -= 1
    print(a)

9
8
7
6
5

#### Python Do-while Loop
<li>Python doesn't have do-while loop. But we can create a program like this.</li>
<li>The do while loop is used to check condition after executing the statement. It is like while loop but it is executed at least once.</li>
<li>The <b>do while loop</b> can be created by using while, if and break statements in python.</li>

#### Do-while loop Syntax

<code>
do {  
     //statement  
} while (condition);  
</code>

In [3]:
i = 0
while True:
    i += 1
    print(i)
    if i> 5:
        break

1
2
3
4
5
6

#### Python Conditions and If statements

<li>Python supports the usual logical conditions from mathematics:</li>
<ol>
    <li>Equals: a == b</li>
    <li>Not Equals: a != b</li>
    <li>Less than: a < b</li>
    <li>Less than or equal to: a <= b</li>
    <li>Greater than: a > b</li>
    <li>Greater than or equal to: a >= b</li>
    <li>These conditions can be used in several ways, most commonly in "if statements" and loops.</li>
</ol>

<li>An "if statement" is written by using the if keyword.</li>

In [15]:
a = 8
b = 8
if a != b:
    print("a is not equal to b")

In [16]:
a!= b

False

#### Booleans

<li>When we use the == operator to determine if two values are equal, the output will always be True or False.</li>
<li>Booleans are binary output variables if condition satisfies, it will give <b>True</b> and if condition is not satisfied it gives <b>False.</b></li>

#### Use Of if Statements

<li>We use if statement incase we only need to valid whether the statement is true and have to perform operations only when it's true.</li>

**Syntax of if statements**

<code>if boolean_expression:
    statement(s)
</code>

In [17]:
a = 6
b = 3
if a > b:
    a += 1

In [18]:
print(a)

7

In [20]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

In [25]:
male_count = 0
for student in student_datasets:
    if student[1] == 'male':
        male_count += 1
print(male_count)

7

In [26]:
female_count = 0
for student in student_datasets:
    if student[1] == 'female':
        female_count += 1
print(female_count)

8

#### Find the number of students whose age is greater than or equals to 22.

In [27]:
age_22_count = 0
for student in student_datasets:
    if student[2] >= 22:
        age_22_count+= 1
print(age_22_count)

9

#### Find the number of students whose score is less than 75.

In [28]:
less_than_75 = 0
for student in student_datasets:
    if student[-1] < 75:
        less_than_75 += 1
print(less_than_75)

4

#### Use of Shorthand if statements

<li>If you have only one statement to execute, you can put it on the same line as the if statement.</li>

In [33]:
a = 5
b = 6

In [34]:
x = 10 if a > b else 11

In [35]:
x

11

#### Question
**Correct the following code in such a way that it will only print the statement which is true.**


<code>
if True:
    print("2 + 2 == 5")
    print("lemons are sour")
if True:
    print("the sky is blue")
    print("5 >= 3")  
if True:
    print("spheres have corners")
    print("7 / 5 == 2")
   
</code>

In [36]:
if True:
    print("2 + 2 == 5")
    print("lemons are sour")

if True:
    print("the sky is blue")
    print("5 >= 3")
    
if True:
    print("spheres have corners")
    print("7 / 5 == 2")

2 + 2 == 5
lemons are sour
the sky is blue
5 >= 3
spheres have corners
7 / 5 == 2

In [37]:
if 2+2 == 5:
    print("2 + 2 == 5")
    print("lemons are sour")

if 5 >= 3:
    print("the sky is blue")
    print("5 >= 3")
    
if 7/5 ==2:
    print("spheres have corners")
    print("7 / 5 == 2")

the sky is blue
5 >= 3

#### Use of if-else statements
<li>We need to check the validity of the statements and we care about both possibile conditions then we use if-else statement.</li>
<li>if-else statement only support binary statements or binary conditions.</li>

#### Syntax of if-else statements
<code>
if expression:
   statement(s)
else:
   statement(s)
</code>

In [38]:
num1 = 15
num2 = 20
if num1 > num2:
    print("Number1 is greater than Number2")
else:
    print("Number1 is not greater than Number2")

Number1 is not greater than Number2

In [ ]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Use if-else statement and find the count of male as well as female students

In [41]:
male_count=0
female_count=0
for student in student_datasets:
    if student[1]=='male':
        male_count+=1
    else:
        female_count+=1
print(male_count)
print(female_count)

7
8

#### Use if-else statement and find the count of students who are less than 22 and greater than or equal to 22.

In [42]:
less_count=0
greater_count=0
for student in student_datasets:
    if student[2]<22:
        less_count+=1
    else:
        greater_count+=1
print(less_count)
print(greater_count)

6
9

#### Short-hand if-else statements
<li>We can use if-else condition as one line statement in short-hand if-else statements.</li>
<li>If you have only one statement to execute, one for if, and one for else, you can put it all on the same line.</li>

In [45]:
# print("2 + 2 == 5")
print("lemons are sour") if 2+2 == 5 else print("Lemons are not sour")

Lemons are not sour

#### Use of if-elif-else Statements

<li>If we have greater than two possible conditions for any given statement, then under such scenario, we use if-elif-else statements.</li>
<li>A perfect example for using such conditional statements is <b>"Checking whether a number is greater than, less than or equal to another given number"</b>.</li>

#### Syntax Of If-elif-else statements

<code>
if expression1:
   statement(s)
elif expression2:
   statement(s)
elif expression3:
   statement(s)
else:
   statement(s) 
</code>

In [52]:
a = 2
b = 2

In [53]:
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is equal to b")

a is equal to b

In [3]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]


student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

In [54]:
bim_count = 0
csit_count = 0
bca_count = 0

for student in student_datasets:
    if student[3] == "B.I.M":
        bim_count += 1
    elif student[3] == "B.C.A":
        bca_count += 1
    else:
        csit_count += 1
print(bim_count)
print(bca_count)
print(csit_count)

6
2
7

#### Find the number of counts for each semester student.

In [56]:
count_third=0
count_fourth=0
count_fifth=0
count_seventh=0
for student in student_datasets:
    if student[-2]=="Fifth Semester":
        count_fifth+=1
    elif student[-2]=="Fourth Semester":
        count_fourth+=1
    elif student[-2]=="Third Semester":
        count_third+=1
    else:
        count_seventh+=1
print('The total student of third semester',str(count_third))
print('The total student of fourth semester',str(count_fourth))
print('The total student of fifth semester',str(count_fifth))
print('The total student of seventh semester',str(count_seventh))

The total student of third semester 2
The total student of fourth semester 2
The total student of fifth semester 6
The total student of seventh semester 5

#### Dictionaries & Frequency Tables

<li>In this lesson on dictionaries and frequency tables, we'll learn how to check for dictionary membership, update dictionary values, and count values using dictionaries.</li>

**Checking membership in a dictionary**

In [57]:
student = {"name": "manisha", "age": 23, "gender": "female", "semester": "Seventh"}

In [58]:
student.keys()

dict_keys(['name', 'age', 'gender', 'semester'])

In [59]:
student.values()

dict_values(['manisha', 23, 'female', 'Seventh'])

In [60]:
b =  "age" in student

In [64]:
b

True

In [62]:
c = 23 in student

In [63]:
c

False

#### Question:

**Using the in operator, check whether the following values exist as dictionary keys in the fruits_dict dictionary:**

<b>fruits_dict = {"apple": 300, "banana":120, "orange":100, "dragon fruit": 400}</b>

<li>The string 'banana'- Assign the output of the expression to a variable named is_in_dictionary_1.</li>
<li>The integer 400- Assign the output of the expression to a variable named is_in_dictionary_2.</li>
<li>Combine the output of an expression containing in with an if statement. If the string 'apple' exists as dictionary key in fruits_dict, then complete the following:</li>
<li>Assign the string "It exists" to a variable named result.</li>
<li>Print the result variable.</li>

In [65]:
fruits_dict = {"apple": 300, "banana":120, "orange":100, "dragon fruit": 400}

In [66]:
is_in_dictionary_1 = "banana" in fruits_dict
is_in_dictionary_2 = 400 in fruits_dict
if "apple" in fruits_dict:
    result = "It exists"
    print(result)

It exists

In [67]:
is_in_dictionary_1

True

In [68]:
is_in_dictionary_2

False

#### Updating Dictionary Values

In [69]:
fruits_dict["apple"] = 320

In [70]:
fruits_dict

{'apple': 320, 'banana': 120, 'orange': 100, 'dragon fruit': 400}

In [71]:
fruits_dict.update({"orange": 90})

In [72]:
fruits_dict

{'apple': 320, 'banana': 120, 'orange': 90, 'dragon fruit': 400}

#### Question
**The content_ratings dictionary is corrupt and needs to be fixed. The corrupt version of content_ratings is provided in the code editor.**
<code>
content_ratings = {'4+': 622, '12+': '1155', '9+': 987, '17+': 4433}
</code>
<ol>
<li>Swap the values stored in the 4+ and 17+ keys.</li>
<li>Assign the value stored in 4+ to a temporary variable called temp.</li>
<li>Assign the value stored in 17+ to 4+.</li>
<li>Assign the value stored in the temporary variable to 17+.</li>
<li>Convert the value stored in 12+ into an integer.</li>
<li>Print the content_ratings dictionary.</li>
</ol>

In [74]:
content_ratings = {"4+": 622, "12+": '1155', "9+": 987, "17+" : 4433}

In [75]:
temp = content_ratings['4+']
content_ratings['4+'] = content_ratings['17+']
content_ratings['17+'] = temp
content_ratings['12+'] = int(content_ratings['12+'])

In [76]:
print(content_ratings)

{'4+': 4433, '12+': 1155, '9+': 987, '17+': 622}

#### Counting In A Dictionary
<li>We can count the number of repetitions of a particular value in list by using a dictionary.</li>

In [77]:
list1 = [1,2,3,3,2,1,2,1,3,2,1,2,3]

In [86]:
dict1 = {1: 0, 2: 0, 3: 0}

In [87]:
# for item in list1:
#     if item == 1:
#         dict1["1"] += 1
#     elif item == 2:
#         dict1["2"] += 1
#     else:
#         dict1["3"] += 1

In [88]:
for item in list1:
    if item in dict1:
        dict1[item] += 1

In [89]:
dict1

{1: 4, 2: 5, 3: 4}

#### Question

**From the given list, count the number of times each rating is repeated.(Frequency Table)**

In [93]:
ratings = ['4+', '9+', '12+', '4+', '17+', '4+', '9+', '4+', '12+', '17+', '9+',
           '4+', '12+', '9+', '12+', '4+', '17+', '4+', '12+', '12+', '17+',
           '9+', '9+', '4+', '4+', '9+', '12+', '17+', '12+', '17+']

In [94]:
ratings_dict = {"4+": 0, "9+":0, "12+":0, "17+":0}

In [96]:
for rating in ratings:
    if rating in ratings_dict:
        ratings_dict[rating]+= 1

In [97]:
ratings_dict

{'4+': 9, '9+': 7, '12+': 8, '17+': 6}

<li>We also call the number of times a unique value occurs a frequency. For this reason, we call tables like the one below frequency tables.</li>

![](frequency_table.png)

<li>4+ occurs 9 times, so it has a frequency of 9. 12+ has a frequency of 8. 9+ has a frequency of 7. 17+ has the lowest frequency: 6.</li>

#### Question:

**From the given list, find out the frequency table for the following:**

<ol>
    <li>Frequency count table for gender.</li>
    <li>Frequency count table for age.</li>
    <li>Frequency count table for faculty.</li>
    <li>Frequency count table for semester level.</li>
</ol>

In [1]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C,A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

In [3]:
student_dict = {}
for student in student_datasets:
    age = student[2]
    if age not in student_dict:
        student_dict[age] = 1
    else:
        student_dict[age] += 1

23
21
22
20
22
23
21
22
20
22
23
21
22
20
22
20
23
23
24
24
24
22
23
23
25
23
21
22
20
25

In [102]:
print(student_dict)

{23: 8, 21: 4, 22: 8, 20: 5, 24: 3, 25: 2}